body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
/*/////////////////// My Stuff /////////////////////*/

/* Below is for table KO highlighting functionality */
.selected {
	background-color: #c1ffbf;
}

.card-style {
	background-color: #ebf2f2;
	border: 1px solid black;
	border-radius: 8px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-text-style {
	margin: 4px 4px 4px 4px;
}

.card-header-style {
	padding: 1px 1px 1px 1px;
	background-color: #dfdbff;
	border: 1px solid #c2c7c7;
	border-radius: 8px;
	height: 22px;
}

.myButton-sm {
	background-color: #ffffff;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #c2c7c7;
	display: inline-block;
	cursor: pointer;
	color: #030003;
	font-family: Arial;
	font-size: 10px;
	padding: 1px 5px;
	text-decoration: none;
	margin-left: 3px;
	vertical-align: top;
}

	.myButton-sm:hover {
		background-color: #bdfaad;
	}

	.myButton-sm:active {
		position: relative;
		top: 1px;
	}
