body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
/*/////////////////// My Stuff /////////////////////*/

/********* KO highlighting functionality */
.selected {
	background-color: #c1ffbf;
}

/********* Card Styles */

.card-style {
	background-color: #ebf2f2;
	border: 1px solid black;
	border-radius: 8px;
}
.card-header-style {
	padding: 1px 1px 1px 1px;
	background-color: #dfdbff;
	border: 1px solid #c2c7c7;
	border-radius: 8px;
	height: 22px;
}
.card-text-style {
	margin: 3px 3px 3px 3px;
}

/********* Card Table Styles */

.th-title-style {
	background: #50a3eb;
	color: #000;
	text-align: center;
}
.tr-inner-table-bottom-style {
	cursor: pointer;
	border-bottom: 1px solid #50a3eb;
	margin-bottom: 3px;
}
.tr-inner-table-items-bottom-style {
	border-bottom: 1px solid #50a3eb;
	margin-bottom: 3px;
}
.td-left-card-style {
	min-width: 125px;
	vertical-align: top;
	text-align: left;
}
.td-center-card-style {
	vertical-align: top;
	text-align: left;
	padding-left: 3px;
}
.td-right-card-style {
	min-width: 50px;
	vertical-align: top;
	text-align: left;
}

/********* Card Header Button Styles */

.myButton-sm {
	background-color: #50a3eb;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	border: 1px solid #ccc;
	display: inline-block;
	cursor: pointer;
	color: #222;
	font-family: Arial;
	font-size: 12px;
	padding-top: 1px;
	text-decoration: none;
	text-align: center;
	margin-left: 3px;
	vertical-align: top;
	height: 18px;
	width: 42px;
}
.myButton-sm:hover {
	background-color: #2bb309;
	border-color: #bdfaad;
}
.myButton-sm:active {
	position: relative;
	top: 1px;
}
.a-small {
	font-size: x-small;
	cursor: pointer;
}

/****** Header checkbox slider ******/

.checkbox-sm-label {
	font-family: Arial;
	font-size: 14px;
	vertical-align: top;
	height: 16px;
}
.switch {
	position: relative;
	display: inline-block;
	margin-top: 1px;
	width: 24px;
	height: 16px;
	margin-left: 3px;
}
.switch input {
	display: none;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #279bde;
	-webkit-transition: .4s;
	transition: .4s;
}
.slider:before {
	position: absolute;
	content: "";
	height: 12px;
	width: 12px;
	left: 2px;
	bottom: 2px;
	background-color: #666;
	-webkit-transition: .4s;
	transition: .4s;
}
input:checked + .slider {
	background-color: #2bb309;
}
input:focus + .slider {
	box-shadow: 0 0 1px #2bb309;
}
input:checked + .slider:before {
	-webkit-transform: translateX(8px);
	-ms-transform: translateX(8px);
	transform: translateX(8px);
}

/* Rounded sliders */

.slider.round {
	border-radius: 12px;
}
.slider.round:before {
	border-radius: 50%;
}
.slider.round:hover {
	border-radius: 12px;
	background-color: #2bb309;
}

/****** END Header checkbox slider */
